<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wy.springtest.data.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.wy.springtest.data.model.User">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="ACCOUNT" property="account" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="PASS" property="pass" jdbcType="VARCHAR"/>
        <result column="ENABLE" property="enable" jdbcType="CHAR"/>
        <result column="LOCKED" property="locked" jdbcType="CHAR"/>
        <collection column="ID" property="authorities" javaType="java.util.ArrayList" select="getAuthority"/>
    </resultMap>
    <sql id="Base_Column_List">
      ID, ACCOUNT, NAME, PASS, ENABLE, LOCKED
    </sql>
    <select id="selectAllUser" resultMap="BaseResultMap">
         SELECT
            `user`.ID,
            `user`.ACCOUNT,
            `user`.`NAME`,
            `user`.PASS,
            `user`.`ENABLE`,
            `user`.LOCKED
        FROM
            `user`
    </select>

    <select id="selectByAccount" resultMap="BaseResultMap">
        SELECT
            `user`.ID,
            `user`.ACCOUNT,
            `user`.`NAME`,
            `user`.PASS,
            `user`.`ENABLE`,
            `user`.LOCKED
        FROM
            `user`
        WHERE
            `user`.ACCOUNT = #{account, jdbcType=VARCHAR}
        LIMIT
            1
    </select>

    <select id="getAuthority" parameterType="java.lang.Integer" resultType="string">
        SELECT
            AUTHORITY
        FROM
            authority
        WHERE
            USER_ID = #{id, jdbcType=INTEGER}
    </select>
    <insert id="insert" parameterType="com.wy.springtest.data.model.User" keyProperty="id" keyColumn="ID"
            useGeneratedKeys="true">
        INSERT INTO `user` (ID,ACCOUNT,NAME,PASS,ENABLE,LOCKED) VALUES (#{u.id},#{u.account},#{u.name},#{u.pass},#{u.enable},#{u.locked})
    </insert>
</mapper>